.header-block {
	aspect-ratio: 35428 / 10189;
}

#post_1 {
	aspect-ratio: 17714 / 13585;
}

#post_2 {
	aspect-ratio: 17714 / 13585;
}

#post_3 {
	aspect-ratio: 17714 / 13585;
}

#post_4 {
	aspect-ratio: 17714 / 13585;
}

#post_5 {
	aspect-ratio: 17714 / 13585;
}

#post_6 {
	aspect-ratio: 17714 / 13585;
}

#post_7 {
	aspect-ratio: 17714 / 13585;
}

#post_8 {
	aspect-ratio: 17714 / 13585;
}

#post_9 {
	aspect-ratio: 17714 / 13585;
}

#post_10 {
	aspect-ratio: 17714 / 13585;
}

#post_11 {
	aspect-ratio: 17714 / 13585;
}

#post_12 {
	aspect-ratio: 17714 / 13585;
}

#post_13 {
	aspect-ratio: 17714 / 13585;
}

#post_14 {
	aspect-ratio: 17714 / 13585;
}

#post_15 {
	aspect-ratio: 17714 / 13585;
}

#post_16 {
	aspect-ratio: 17714 / 13585;
}

#post_17 {
	aspect-ratio: 17714 / 13585;
}

#post_18 {
	aspect-ratio: 1042 / 899;
}

#post_19 {
	aspect-ratio: 8857 / 12736;
}

#post_20 {
	aspect-ratio: 17714 / 13585;
}

#post_21 {
	aspect-ratio: 17714 / 13585;
}

#post_22 {
	aspect-ratio: 35428 / 33963;
}

#post_23 {
	aspect-ratio: 1042 / 899;
}

#post_24 {
	aspect-ratio: 17714 / 13585;
}

#post_25 {
	aspect-ratio: 17714 / 13585;
}

#post_26 {
	aspect-ratio: 17714 / 13585;
}

#post_27 {
	aspect-ratio: 17714 / 13585;
}

#post_28 {
	aspect-ratio: 17714 / 13585;
}

#post_29 {
	aspect-ratio: 17714 / 13585;
}

#post_30 {
	aspect-ratio: 17714 / 13585;
}

#post_31 {
	aspect-ratio: 17714 / 13585;
}

#post_32 {
	aspect-ratio: 17714 / 13585;
}

#post_33 {
	aspect-ratio: 17714 / 13585;
}

#post_34 {
	aspect-ratio: 17714 / 13585;
}

#post_35 {
	aspect-ratio: 17714 / 13585;
}

#post_36 {
	aspect-ratio: 8857 / 11887;
}

#post_37 {
	aspect-ratio: 35428 / 44151;
}

#post_38 {
	aspect-ratio: 17714 / 13585;
}

#post_39 {
	aspect-ratio: 1042 / 899;
}

#post_40 {
	aspect-ratio: 1042 / 899;
}

#post_41 {
	aspect-ratio: 17714 / 13585;
}

#post_42 {
	aspect-ratio: 35428 / 44151;
}

#post_43 {
	aspect-ratio: 8857 / 1698;
}

