#alms-bowl {
    width: 21%;
}

/* ------------------------- Media Queries ------------------------- */

@media (max-width: 880px) {

    #alms-bowl {
        width: 37%;
    }

}

@media (max-width: 600px) {

    #alms-bowl {
        width: 47%;
    }

}
