:root {
    --text-waterworld: rgb(29, 171, 184);
    --text-stratosphere:rgb(32, 80, 223);
    --text-chrome:rgb(147, 159, 167);
}

#echo-background {
    min-height: 100vh;
    min-height: 100lvh;
    background-image: url(../images/echo/light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.collage-header {
    color: var(--text-waterworld);
}

.underline-main {
    border-top-color: var(--text-waterworld);
    width: 19%;
}

.underline-second {
    border-top-color: var(--text-waterworld);
    width: 13%;
}

.quotestyle {
    color: var(--text-stratosphere);
}

.quotestyle-smaller {
    color: var(--text-stratosphere);
}

.quoteposition-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--text-chrome);
}

.no-underline {
    text-decoration: none;
    color: var(--text-stratosphere);
}
