:root {
    --text-baguette: rgb(224, 190, 117);
}

#fields-background {
    min-height: 100vh;
    min-height: 100lvh;
    background-image: url(../images/fields/bend-large.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.collage-header {
    color: var(--text-baguette);
}

.underline-main {
    border-top-color: var(--text-baguette);
    width: 23%;
}

.underline-second {
    border-top-color: var(--text-baguette);
    width: 17%;
}
