:root {
    --text-firegolden: rgb(233, 172, 18);
    --text-alice:aliceblue;
}

#invitation-background {
    min-height: 100vh;
    min-height: 100lvh;
    background-image: url(../images/invitation/wall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.collage-header {
    color: var(--text-firegolden);
}

.underline-main {
    border-top-color: var(--text-firegolden);
    width: 41%;
}

.underline-second {
    border-top-color: var(--text-firegolden);
    width: 31%;
}

.quotestyle {
    color: var(--text-alice);
}