:root {
    --text-white: rgb(232, 255, 247);
    --text-link-green: rgb(140, 223, 140);
}

body {
    margin: 0;
    padding: 0;
}

.fromthetop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.centerflex {   
    position: absolute; /* Or fixed, depending on your needs */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleclass {
    padding: 0.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: var(--text-white);
    margin-left: 20%;
    margin-right: 20%;
}

.textbody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    color: var(--text-white);
    margin-left: 20%;
    margin-right: 20%;
}

.textbody a {
    font-style: oblique;
    text-decoration: none;
    color: var(--text-link-green);
    font-weight: 600;
}

.common-backdrop {
    background-image: url(../images/common/default-background.svg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

.footerdiv {
    padding-top: 1.9em;
}

.breath {
    padding-top: 22px;
}

/* ------------------------- Media Queries ------------------------- */

@media (max-width: 1200px) {

    .titleclass {
        margin-left: 25%;
        margin-right: 25%;  
    }

    .textbody {
        margin-left: 25%;
        margin-right: 25%;
    }

}

@media (max-width: 1000px) {

    .titleclass {
        margin-left: 30%;
        margin-right: 30%;  
    }

    .textbody {
        margin-left: 30%;
        margin-right: 30%;
    }

}

/* Tablet */
@media (max-width: 880px) {

    .titleclass {
        padding: 0.5em;
        margin-left: 15%;
        margin-right: 15%;  
    }

    .textbody {
        margin-left: 15%;
        margin-right: 15%;
    }

}
