:root {
    --text-golden: rgb(233, 172, 18);
    --text-glow: rgb(220, 215, 118);
}

#return-background {
    min-height: 100vh;
    min-height: 100lvh;
    background-image: url(../images/return/sand.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.collage-header {
    color: var(--text-glow);
}

.underline-main {
    border-top-color: var(--text-glow);
    width: 28%;
}

.underline-second {
    border-top-color: var(--text-glow);
    width: 18%;
}
