:root {
    --text-golden: rgb(241, 192, 66);
    --text-alice:aliceblue;
}

#sunset-background {
    min-height: 100vh;
    min-height: 100lvh;
    background-image: url(../images/sunset/twig.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.collage-header {
    color: var(--text-golden);
}

.underline-main {
    border-top-color: var(--text-golden);
    width: 29%;
}

.underline-second {
    border-top-color: var(--text-golden);
    width: 20%;
}

.quotestyle {
    color: var(--text-alice);
}
