:root {
    --text-luminescent: rgb(182, 125, 217);
}

#tangential-background {
    min-height: 100vh;
    min-height: 100lvh;
    background-image: url(../images/tangential/webdew.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.collage-header {
    color: var(--text-luminescent);
}

.underline-main {
    border-top-color: var(--text-luminescent);
    width: 41%;
}

.underline-second {
    border-top-color: var(--text-luminescent);
    width: 31%;
}
