:root {
    --text-golden: rgb(241, 192, 66);
    --text-luminescent: rgb(106, 39, 148);
    --text-scifi:rgb(26, 9, 121);
    --text-rose:rgb(113, 6, 68);
    --text-illuminate:rgb(113, 6, 113);
    --text-moss: rgb(51, 179, 117);
    --text-sci:rgb(32, 80, 223);

}

#echopage {
    background-image: url(../../images/echo/light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#inner-return {
    /* Glass effect */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1));
    background-color: #79797938; /*#38607e60; for a dark mode?*/
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.collage-header {
    color: var(--text-moss);
}

.underline-return-main {
    width: 70px;
    border-top-color: var(--text-moss);
}

.underline-return-second {
    width: 50px;
    border-top-color: var(--text-moss);
}

.quotestyle {
    color: var(--text-sci);
}

.quotestyle-smaller {
    color: var(--text-sci);
}

.quotestyle-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--text-sci);
}

.no-underline {
    text-decoration: none;
    color: var(--text-sci);
}
