:root {
    --text-lime: rgb(151, 203, 27);
    --text-lightsky:rgb(185, 208, 225);
}

#grass-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/grass/seed.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.collage-header {
    color: var(--text-lime);
}

.underline-main {
    border-top-color: var(--text-lime);
    width: 22%;
}

.underline-second {
    border-top-color: var(--text-lime);
    width: 15%;
}

.quotestyle-smallest {
    color: var(--text-lightsky);
}
