.header-block {
	aspect-ratio: 34988 / 10065;
}

#post_1 {
	aspect-ratio: 8747 / 10065;
}

#post_2 {
	aspect-ratio: 8747 / 6710;
}

#post_3 {
	aspect-ratio: 8747 / 6710;
}

#post_4 {
	aspect-ratio: 8747 / 6710;
}

#post_5 {
	aspect-ratio: 8747 / 6710;
}

#post_6 {
	aspect-ratio: 8747 / 6710;
}

#post_7 {
	aspect-ratio: 8747 / 6710;
}

#post_8 {
	aspect-ratio: 8747 / 6710;
}

#post_9 {
	aspect-ratio: 34988 / 43615;
}

#post_10 {
	aspect-ratio: 8747 / 6710;
}

#post_11 {
	aspect-ratio: 34988 / 30195;
}

#post_12 {
	aspect-ratio: 8747 / 6710;
}

#post_13 {
	aspect-ratio: 8747 / 6710;
}

#post_14 {
	aspect-ratio: 34988 / 30195;
}

#post_15 {
	aspect-ratio: 8747 / 6710;
}

#post_16 {
	aspect-ratio: 8747 / 6710;
}

#post_17 {
	aspect-ratio: 34988 / 30195;
}

#post_18 {
	aspect-ratio: 8747 / 6710;
}

#post_19 {
	aspect-ratio: 34988 / 30195;
}

#post_20 {
	aspect-ratio: 34988 / 23485;
}

#post_21 {
	aspect-ratio: 8747 / 6710;
}

#post_22 {
	aspect-ratio: 34988 / 30195;
}

#post_23 {
	aspect-ratio: 8747 / 6710;
}

#post_24 {
	aspect-ratio: 34988 / 30195;
}

#post_25 {
	aspect-ratio: 8747 / 6710;
}

#post_26 {
	aspect-ratio: 34988 / 30195;
}

#post_27 {
	aspect-ratio: 8747 / 6710;
}

#post_28 {
	aspect-ratio: 34988 / 30195;
}

#post_29 {
	aspect-ratio: 8747 / 6710;
}

#post_30 {
	aspect-ratio: 8747 / 10065;
}

#post_31 {
	aspect-ratio: 8747 / 6710;
}

#post_32 {
	aspect-ratio: 34988 / 30195;
}

#post_33 {
	aspect-ratio: 8747 / 6710;
}

#post_34 {
	aspect-ratio: 8747 / 6710;
}

#post_35 {
	aspect-ratio: 8747 / 6710;
}

#post_36 {
	aspect-ratio: 34988 / 30195;
}

#post_37 {
	aspect-ratio: 34988 / 30195;
}

#post_38 {
	aspect-ratio: 8747 / 6710;
}

#post_39 {
	aspect-ratio: 17494 / 3355;
}

