:root {
    --text-alice:aliceblue;
    --text-golden: rgb(233, 172, 18);
}

body {
    margin: 0;
    padding: 0;
}

.fullspan {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
}

.center-column {
    display: flex;
    justify-content: center;
    flex-direction:row;
}

.flexratio-container {
    aspect-ratio: 9 / 16;
    height: 100vh;
    height: 100lvh;
}

.flex-inner-down {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* Glass effect */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1));
    background-color: #20566d56; /*#38607e60;*/
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.flex-inner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Align items to the top */ 
}

.container-rightsection {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.post {
    padding-bottom: 6px;

}

.breath {
    padding-top: 1em;
}

.ytvids {
    width: 90%;
}

.ytvids.marg10 { /* Use this if you want to move a video to the right. */
    margin-left: 10%;
}

.imgleft {
    display: flex;
    justify-content: flex-start;
}

.imgright {
    display: flex;
    justify-content: flex-end;
}

.space-r7 {
    padding-right: 7%;
}

.space-r10 {
    padding-right: 10%;
}

.quotestyle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 2%;
    vertical-align: middle;
    color: var(--text-alice);
}

.collage-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.9em;
    font-weight: 600;
    text-align: center;
    color: var(--text-golden);
    padding-top: 25px;
    padding-bottom: 25px;
}

#invitationpage {
    background-image: url(../../images/invitation/wall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* ------------------------- Media Queries ------------------------- */

/* Phone */

@media (max-width: 600px) {

    .flexratio-container {
        aspect-ratio: 9 / 19;
    }

}