:root {
    --filmreel: #043041ed;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-height: 100lvh;
}

.fullspan {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.background-container {
    position: fixed;
    height: 100vh;
    height: 100lvh;
    width: 100%;
}

.foreground-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
}

.foreground-center-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ratio-container {
    height: 100vh;
    height: 100lvh;
    aspect-ratio: 9 / 16;
}

.main-down-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    container-type: inline-size;
}

.film-grid {
    display: grid;
    grid-template-columns: 9.5% auto 9.5%;
    gap: 0;
    z-index: 2;
}

.film-perforations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filmreel-strip {
    fill: var(--filmreel);
}

.film-middle-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    background-color: var(--filmreel);
    backdrop-filter: blur(1px);
}

.header-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collage-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6.9cqw;
    font-size: 6.9cqi; /* basically the same as cqw - container width */
    font-weight: 600;
    text-align: center;
    padding-bottom: 0.4cqw;
    padding-bottom: 0.4cqi;
}

.underline-outercontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1.2cqw;
    padding-bottom: 1.2cqi;
}

.underline-style {
    border-top-width: 0.5cqw;
    border-top-width: 0.5cqi;
    border-top-style: solid;
}

/* Padding is added automatically during the getratios.js sequence
.post {
    padding-bottom: 6px;
} */

.imgleft {
    display: flex;
    justify-content: flex-start;
}

.imgleft a {
    display: flex;
    justify-content: flex-start;
}

.imgright {
    display: flex;
    justify-content: flex-end;
}

.imgcenter {
    display: flex;
    justify-content: center;
}

.marker {
    flex-wrap: wrap;
}

.marker a {
    display: flex;
    width: 100%;
}

.marker a img {
    object-fit: cover;
}

.quotestyle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.7cqw;
    font-size: 3.7cqi;
    margin: 2%;
}

.quotestyle-smaller {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5cqw;
    font-size: 3.5cqi;
    margin: 2%;
}

.quotestyle-smallest {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.45cqw;
    font-size: 2.45cqi;
    margin: 2%;
}

/* ------------------------- Media Queries ------------------------- */

/* Phone */

@media (max-width: 600px) {

    .ratio-container {
        aspect-ratio: 9 / 19;
    }

}