:root {
    --text-golden: rgb(241, 192, 66);
    --text-luminescent: rgb(106, 39, 148);
    --text-scifi:rgb(26, 9, 121);
}

#tangentialpage {
    background-image: url(../../images/tangential/webdew.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#inner-return {
    /* Glass effect */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1));
    background-color: #79797938; /*#38607e60; for a dark mode?*/
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.collage-header {
    color: var(--text-luminescent);
}

.underline-return-main {
    width: 140px;
    border-top-color: var(--text-luminescent);
}

.underline-return-second {
    width: 105px;
    border-top-color: var(--text-luminescent);
}

.quotestyle {
    color: var(--text-scifi);
}