:root {
    --text-moss: rgb(51, 179, 117);
}

body {
    min-height: 100vh;
    min-height: 100lvh;
}

.background-container {
    position: fixed;
    height: 100vh;
    height: 100lvh;
    width: 100%;
}

.background-imagediv {
    min-height: 100%;
    background-image: url(../../images/windward/logroom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.film-grid {
    z-index: 2;
}

.collage-header {
    color: var(--text-moss);
}

.underline-main {
    border-top-color: var(--text-moss);
    width: 43%;
}

.underline-second {
    border-top-color: var(--text-moss);
    width: 32%;
}
