:root {
    --text-moss: rgb(51, 179, 117);
}

#windswept-page {
    min-height: 100vh;
    min-height: 100lvh;
}

.background-image {
    /*position: fixed;*/
    background-image: url(../../images/windward/logroom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto 100vh;
}

.collage-header {
    color: var(--text-moss);
}

.underline-main {
    border-top-color: var(--text-moss);
    width: 43%;
}

.underline-second {
    border-top-color: var(--text-moss);
    width: 32%;
}
